.container {
    display: flex;
    width: 55vw;
    height: 150px;
    border-radius: 12px;
    margin-top: -75px;
    align-self: center;
    justify-content: space-between;
    background-color: white;
}

.info {
    width: 25%;
    padding: 20px;
    border: 1px solid red;
    overflow: auto;
}

